### csv daten laden

In [14]:
import pandas as pd
import requests


df_airports = pd.read_csv('./data/airports.csv')


type(df_airports)
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   airport_id  7698 non-null   int64
 1   name        7698 non-null   object
 2   city        7649 non-null   object
 3   country     7698 non-null   object
 4   iata        7698 non-null   object
 5   icao        7698 non-null   object
 6   latitude    7698 non-null   float64
 7   longitude   7698 non-null   float64
 8   altitude    7698 non-null   int64
 9   timezone    7698 non-null   object
 10  dst         7698 non-null   object
 11  tz          7698 non-null   object
 12  type        7698 non-null   object
 13  source      7698 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 842.1+ KB

In [1]:
import pandas as pd
import requests


df_flights = pd.read_csv('./data/flights_city_dep+arr_flights_city.csv')


type(df_flights)
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81526 entries, 0 to 81525
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  81526 non-null  object
 1   dep/arr               81526 non-null  object
 2   DF/NF                 81526 non-null  object
 3   Airport               81526 non-null  object
 4   Count of flights_ger  81526 non-null  int64
 5   #_dep_DF              81526 non-null  int64
 6   #_dep_NF              81526 non-null  int64
 7   #_arr_DF              81526 non-null  int64
 8   #_arr_NF              81526 non-null  int64
 9   city                  81526 non-null  object
dtypes: int64(5), object(5)
memory usage: 6.2+ MB

In [2]:
df_flights

,Date,dep/arr,DF/NF,Airport,Count of flights_ger,#_dep_DF,#_dep_NF,#_arr_DF,#_arr_NF,city
0,01.01.2017,arrival,dayflight,EDLW,2,0,0,2,0,Dortmund
1,01.01.2017,arrival,dayflight,EDDW,3,0,0,3,0,Bremen
2,01.01.2017,arrival,dayflight,EDDV,23,0,0,23,0,Hannover
3,01.01.2017,arrival,dayflight,EDDT,136,0,0,136,0,Berlin
4,01.01.2017,arrival,dayflight,EDDP,5,0,0,5,0,Leipzig
...,...,...,...,...,...,...,...,...,...,...
81521,06.01.2022,departure,nightflight,EDDM,22,0,22,0,0,Munich
81522,06.01.2022,departure,nightflight,EDDK,55,0,55,0,0,Cologne
81523,06.01.2022,departure,nightflight,EDDH,1,0,1,0,0,Hamburg
81524,06.01.2022,departure,nightflight,EDDF,20,0,20,0,0,Frankfurt
81525,06.01.2022,departure,nightflight,EDDB,8,0,8,0,0,Berlin

In [15]:
df_airports

,airport_id,name,city,country,iata,icao,latitude,longitude,altitude,timezone,dst,tz,type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,N,ULDA,71.616699,52.478298,272,N,N,N,airport,OurAirports
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,N,XIUW,51.849998,107.737999,1670,N,N,N,airport,OurAirports
7695,14108,Krechevitsy Air Base,Novgorod,Russia,N,ULLK,58.625000,31.385000,85,N,N,N,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,N,N,N,airport,OurAirports
7697,14110,Melitopol Air Base,Melitopol,Ukraine,N,UKDM,46.880001,35.305000,0,N,N,N,airport,OurAirports}

In [ ]:
# Import all necessary libraries
import psycopg2
from sql import engine #adjust this as necessary to match your sql.py connection methods
# Import connection parameters: host, port, database, user, password
import sqlalchemy
from sql import host, port, database, user, password

conn = psycopg2.connect(host=host,
                        port=port,
                        database=database,
                        user=user,
                        password=password)

print(conn)

In [4]:
### Upload complaints data to SQL

# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table
table_name = 'df_flights_tableau'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_flights.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        schema='cap_air',
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_flights_tableau table was imported successfully.

Check if everything went fine

In [18]:
# calling the airports table from sql

sql_query = 'SELECT * FROM cap_air.airports'
df_complaints_all = pd.read_sql_query(sql_query, conn)

display(df_airports)

,airport_id,name,city,country,iata,icao,latitude,longitude,altitude,timezone,dst,tz,type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,N,ULDA,71.616699,52.478298,272,N,N,N,airport,OurAirports
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,N,XIUW,51.849998,107.737999,1670,N,N,N,airport,OurAirports
7695,14108,Krechevitsy Air Base,Novgorod,Russia,N,ULLK,58.625000,31.385000,85,N,N,N,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,N,N,N,airport,OurAirports
7697,14110,Melitopol Air Base,Melitopol,Ukraine,N,UKDM,46.880001,35.305000,0,N,N,N,airport,OurAirports}